.copper-validation-page{

padding:20px;

background:#f4f6f9;

min-height:100vh;

}
.copperinput{
    border: #0d47a1 5px solid;
    background-color: red;
}



.copper-validation-page h2{

text-align:center;

color:#1e3c72;

margin-bottom:20px;

}



.copper-card{

background:white;

padding:20px;

border-radius:12px;

box-shadow:0 3px 10px rgba(0,0,0,.15);

overflow:auto;

}



.copper-table,
.detail-table{

width:100%;

border-collapse:collapse;

}



th{

background:#1e3c72;

color:white;

padding:12px;

}



td{

padding:10px;

text-align:center;

border-bottom:1px solid #ddd;

}




.available{

background:#d4edda;

color:#155724;

padding:6px 15px;

border-radius:20px;

font-weight:bold;

}



.shortage{

background:#f8d7da;

color:#721c24;

padding:6px 15px;

border-radius:20px;

font-weight:bold;

}

.calculate-btn{
    
background:#1e88e5;

color:white;

border:none;

padding:7px 15px;

border-radius:6px;

cursor:pointer;


}




.view-btn{

background:#1e88e5;

color:white;

border:none;

padding:7px 15px;

border-radius:6px;

cursor:pointer;

}



.view-btn:hover{

background:#0d47a1;

}




.detail-box{

margin-top:25px;

background:white;

padding:20px;

border-radius:12px;

box-shadow:0 3px 10px rgba(0,0,0,.15);

}



.detail-header{

display:flex;

justify-content:space-between;

align-items:center;

}




.detail-header button{

background:red;

color:white;

border:none;

padding:5px 12px;

cursor:pointer;

}



.negative{

color:red;

font-weight:bold;

}


.positive{

color:green;

font-weight:bold;

}